APP_NAME=LEAF_MVC
APP_ENV=local
APP_KEY=base64:AUAyDriQD1kFdIAPIbwTHlnCm2pYn+qxDBa55SFwB9PUzg=
APP_DOWN=false
APP_DEBUG=true
APP_PORT=5500
APP_URL=http://localhost:5500/

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=LEAF_DB_NAME
DB_USERNAME=LEAF_DB_USERNAME
DB_PASSWORD=
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci
# DB_COLLATION=utf8_general_ci

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_DEBUG=SERVER
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PROD_SERVER=hello
PROD_PORT=22
PROD_USER=leaf

SERVER_NAME=LEAF_SERVER
SERVER_PORT=5500
SERVER_USER=
SERVER_PASSWORD=

APPLICATION_DIR=leaf
APPLICATION_PATH=leaf
