<!DOCTYPE html>
<html>
  <head>
      <title>Network Error</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="../../assets/css/leaf.css">
  </head>

  <body>
      <div class="container">
          <div class="leaf-center-center">
            <h2><span role="img" aria-label="O">&#x1f635;</span>💔</h2>
            <p>
              You're currently offline. Please connect and try again.
            </p>
          </div>
      </div>
  </body>
</html>