body {
    background-color: rgb(0, 30, 38) !important;
    color: white !important;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-size: 18px;
}
.flex {
    display: flex;
}
.center-all {
    justify-content: center;
    align-items: center;
}
.center-between {
    justify-content: space-between;
    align-items: center;
}
.center-start {
    justify-content: flex-start;
    align-items: center;
}
.h-screen {
    height: 100vh;
}
img {
    height: 35px;
    margin-right: 15px;
}
p {
    color: rgb(167, 185, 185);
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.container {
    max-width: 900px;
    padding: 20px;
}
.card {
    background: rgb(1, 42, 53);
    padding: 0px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 15px;
}
.green,
a {
    color: #44be6d;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ion-icon {
    font-size: 24px;
    width: 100px;
}

@media only screen and (max-width: 500px) {
    .flex.card {
        flex-wrap: wrap;
    }
    .flex.card > * {
        width: 100% !important;
    }
}
